body {
  background-color: rgb(211, 254, 245);
}

#form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(155, 223, 171);
  padding: 20px;
  border-radius: 20px;
}
.stars:not(.filled) {
  cursor: pointer;
  font-size: 24px;
}

.stars.filled {
  color: gold;
  font-size: 34px;
}
