body {
  background-color: rgb(211, 254, 245);
}

#form {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(155, 223, 171);
  padding: 20px;
  border-radius: 20px;
}
.stars span {
  cursor: pointer;
  font-size: 24px;
}

.stars span.filled {
  color: gold;
}

#search-bar {
  margin-bottom: 10px;
}

#search-results {
  display: none;
  max-width: 400px;
  background-color: rgba(254, 255, 228, 0.531);
  margin-bottom: 100px;
  padding: 10px;
  border: solid;
}

img {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.229);
}
